
/* For devices with a minimum width of 768px (Medium) */
@media screen and (max-width: 768px) {
  .tab-1-image {
    display: none;
  }
 
 /*  .edit-img-yoga {
   display: none;
  } */

}
@media screen and (max-width: 768px) {
  .tab-1-image {
    display: none;
  }
 
 /*  .edit-img-yoga {
   display: none;
  } */

}

