@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');



* {
  font-family: "Poppins", serif;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 600;
  font-style: normal;
}
.imperial-script-italic {
  font-family: "Imperial Script", cursive;
  font-weight: 800;
  font-style: italic;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.faustina {
  font-family: "Faustina", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



.lexend{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}






.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.dancing-script-bold {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-style: normal;
}


.princess-sofia-regular {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 750%;
}
.princess-sofia-italic {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: italic;
}
.princess-sofia-bold {
  font-family: "Princess Sofia", cursive;
  font-weight: 700;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}
.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}
.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}
.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}
.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}
.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}
.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}
.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}
.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}
.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}
.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}
.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
.just-another-hand-italic {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: italic;
}
.just-another-hand-bold {
  font-family: "Just Another Hand", cursive;
  font-weight: 700;
  font-style: normal;
}
.just-another-hand-bold-italic {
  font-family: "Just Another Hand", cursive;
  font-weight: 700;
  font-style: italic;
}
.just-another-hand-thin {
  font-family: "Just Another Hand", cursive;
  font-weight: 100;
  font-style: normal;
}

.libertinus-serif-regular {
  font-family: "Libertinus Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.libertinus-serif-semibold {
  font-family: "Libertinus Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.libertinus-serif-bold {
  font-family: "Libertinus Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.libertinus-serif-regular-italic {
  font-family: "Libertinus Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.libertinus-serif-semibold-italic {
  font-family: "Libertinus Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.libertinus-serif-bold-italic {
  font-family: "Libertinus Serif", serif;
  font-weight: 700;
  font-style: italic;
}
